<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Trace" internalLogFile="./internal/nlog-internal.log">

    <extensions>
        <add assembly="WebApplication1"/>
    </extensions>
    
    <variable name="workDir" value="./Logs" />

    <targets>        
        <target name="logFile" xsi:type="File"
                fileName="${workDir}/log.txt" archiveEvery="Day" maxArchiveFiles="30"
                layout="${longdate}|${uppercase:${level}}|${windows-identity}|${message}|${all-event-properties:separator=|}|${exception:innerFormat=Message,Type,ShortType,ToString,Method,StackTrace:maxInnerExceptionLevel=5:innerExceptionSeparator=@:separator=|:format=Message,Type,ShortType,ToString,Method,StackTrace}"/>
        <target name="traceFile" xsi:type="File"
                fileName="${workDir}/trace.txt" archiveEvery="Day" maxArchiveFiles="30"
                layout="${longdate}|${uppercase:${level}}|${windows-identity}|${message}|${all-event-properties:separator=|}|${exception:innerFormat=Message,Type,ShortType,ToString,Method,StackTrace:maxInnerExceptionLevel=5:innerExceptionSeparator=@:separator=|:format=Message,Type,ShortType,ToString,Method,StackTrace}"/>

        <target name="elastic-trace" xsi:type="BufferingWrapper" flushTimeout="5000">
            <target xsi:type="ElasticSearch"
                    layout="${message}"
                    index="tracestash-${date:format=yyyy.MM.dd}">

                <field name="application"
                       layout="GIMP"/>

                <field name="method"
                       layout="${event-properties:item=Method}"/>
                
                <field name="url"
                       layout="${event-properties:item=Url}"/>
                
                <field name="status"
                       layout="${event-properties:item=Status}"/>
            </target>
        </target>
        
        <target name="elastic-exceptions" xsi:type="BufferingWrapper" flushTimeout="5000">
            <target xsi:type="ElasticSearch"
                    layout="${exception:innerFormat=Message}"
                    index="logstash-${date:format=yyyy.MM.dd}">

                <field name="application"
                       layout="GIMP"/>
            </target>
        </target>
        
        <target name="elastic-domain-events" xsi:type="BufferingWrapper" flushTimeout="5000">
            <target xsi:type="ElasticSearch"
                    layout="${message}"
                    index="domainstash-${date:format=yyyy.MM.dd}">

                <field name="application"
                       layout="GIMP"/>
            </target>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="traceFile" />
        <logger name="*" minlevel="Trace" writeTo="logFile" />
        <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="elastic-exceptions" />
        <logger name="HttpRequestLogger" minlevel="Debug" maxlevel="Debug" writeTo="elastic-trace" />
        <logger name="WebApplication1.*" minlevel="Info" maxlevel="Info" writeTo="elastic-domain-events" />
        
    </rules>
</nlog>