<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="${workDir}/nlog-internal.log">

    <variable name="workDir" value="./Logs" />

    <extensions>
        <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>
    
    <targets>        
        <target name="logFile" xsi:type="File"
                fileName="${workDir}/log.txt" archiveEvery="Day" maxArchiveFiles="30"
                layout="${longdate}|${uppercase:${level}}|${windows-identity}|${message}|${all-event-properties:separator=|}|${exception:innerFormat=Message,Type,ShortType,ToString,Method,StackTrace:maxInnerExceptionLevel=5:innerExceptionSeparator=@:separator=|:format=Message,Type,ShortType,ToString,Method,StackTrace}"/>
        <target name="traceFile" xsi:type="File"
                fileName="${workDir}/trace.txt" archiveEvery="Day" maxArchiveFiles="30"
                layout="${longdate}|${uppercase:${level}}|${windows-identity}|${message}|${all-event-properties:separator=|}|${exception:innerFormat=Message,Type,ShortType,ToString,Method,StackTrace:maxInnerExceptionLevel=5:innerExceptionSeparator=@:separator=|:format=Message,Type,ShortType,ToString,Method,StackTrace}"/>

        <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
            <target xsi:type="ElasticSearch"
                    layout="${logger} | ${threadid} | ${message}"/>
        </target>

    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="traceFile" />
        <logger name="*" minlevel="Trace" writeTo="logFile" />
        <logger name="*" minlevel="Trace" writeTo="elastic" />
    </rules>
</nlog>